body{
  width: 100%vw;
}

form{
  width: 900px;
  height: 70px;
  background: #FFFFFF;
  
  border: 1px solid #E1E7ED;
  box-shadow: 0px 1px 8px rgba(61, 78, 97, 0.1);
  border-radius: 4px;
  margin-top: 71px;
  margin-left: 48px;
  margin-right: 81px;
  
}
 
.container{
  
}
.Vector{
  position: absolute;
  width: 19px;
  height: 19px;
  left: 26px;
  top: 25px;

}